.body {
	background: url('../img/theme/bg-top.jpg') top center no-repeat,
	url('../img/theme/bg-bottom.jpg') bottom center no-repeat;
	background-size: 100% auto, 100% auto;
}

.full-wrapper {
	max-width: 1280px;
	margin: 20px auto;
}